body{
  box-sizing: border-box;
  font-family: 'Open Sans','Arial';
  margin:0;

}

header{
  margin: 0;
  background:linear-gradient(to right,rgba(12,105,136,0.9),rgba(12,105,136,0.5));
  border-bottom: 1px solid;
  padding: 0;


}
.menu{
margin: 0;
margin-bottom: 0;
width: 100%;

}
.menu ul li a{
  color:white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0.9em;
  padding: 15px;
  height: 2em;
  text-align: center;
}
.menu ul li:hover{
  background: rgba(12,105,136,0.1);
  border: 0.5 px solid;
}
.imgboneco{
  background-image:url('Resources/img/tablet.fw.png');
  width: 500px;
}

@media screen and (min-width:800px)
{
.menu ul{
  box-sizing: border-box;
  list-style: none;
  margin-left: 60%;
  display: table;
  margin-top:0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.menu  > span {
  display: none;
}

.menucel{
  display: none;
}
}

@media screen and (max-width:550px)
{
.menu ul{
display: none;
}

.menu  > span {
  display:block;
  margin-left: 5%;
}

  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
    width: auto;
    float: none;
  }

  .column + .column {
    margin-left: 0;
  }



}


.menu ul li{
  float: left;
  height: 100%;
  margin-bottom: 0;
}
<<<<<<< HEAD
=======
}


.row::before ,
.row::after{
  content: "";
  display: table;
}
.row::after{
  clear: both;
}

.row , .column{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.column{
  position: right;
  float: left;
}

.column + .column {
  margin-left: 1.6%;
}

.column-1 {
  width: 6.86666666667%;
}

.column-2 {
  width: 15.3333333333%;
}

.column-3 {
  width: 23.8%;
}

.column-4 {
  width: 32.2666666667%;
}

.column-5 {
  width: 40.7333333333%;
}

.column-6 {
  width: 49.2%;
}

.column-7 {
  width: 57.6666666667%;
}

.column-8 {
  width: 66.1333333333%;
}

.column-9 {
  width: 74.6%;
}

.column-10 {
  width: 83.0666666667%;
}

.column-11 {
  width: 91.5333333333%;
}

.column-12 {
  width: 100%;
}


.offset-1 {
  margin-left: 6.86666666667%;
}

.offset-2 {
  margin-left: 15.3333333333%;
}

.offset-3 {
  margin-left: 23.8%;
}

.offset-4 {
  margin-left: 32.2666666667%;
}

.offset-5 {
  margin-left: 40.7333333333%;
}

.offset-6 {
  margin-left: 49.2%;
}

.offset-7 {
  margin-left: 57.6666666667%;
}

.offset-8 {
  margin-left: 66.1333333333%;
}

.offset-9 {
  margin-left: 74.6%;
}

.offset-10 {
  margin-left: 83.0666666667%;
}

.offset-11 {
  margin-left: 91.5333333333%;
}

.offset-12 {
  margin-left: 100%;
}
>>>>>>> origin/master
